<!-- verify.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Verificación - Mi Chat</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container fade-in">
        <h1>Verificación de Correo</h1>
        <form id="verify-form">
            <label for="code">Ingresa el código enviado a tu correo:</label>
            <input type="text" id="code" name="code" required>

            <input type="submit" value="Verificar">
        </form>
    </div>
    <script src="/static/js/main.js"></script>
</body>
</html>
